
/* Importing font */
@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}

/* Selecting all components and defining the font*/
* {
  font-family: 'RobotoMono', monospace;
}

/* Aplicando alguns estilos no body */
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #ffffff;
  background: linear-gradient(to right,#20002c,#cbb4d4);
}